@import url('https://fonts.googleapis.com/css2?family=Roboto');


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
}

.hlogo {
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
    justify-content: flex-start;
    align-items: center;
    margin-left: 16px;
}

.hlinks ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin-right: 16px;
}

.hlinks li {
    padding: 0;
    margin: 0;
}

.hlinks, .htext2 {
    font-size: 18px;
    color: #e5e7eb;
}

.hlinks {
    display: flex;
    /*font-size: 18px;
    color: #e5e7eb;*/
    margin-left: auto;
    justify-content: space-around;
}

.hero {
    background-color: #1F2937;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 24px;
    
}

.htext1 {
    font-size: 48px;
    font-weight: 800; /*extra-bold value*/
    color: #F9FAF8;
    margin: 0;
}

.htext2 {
    margin: 0 0 10px 0;
}

button {
    background-color: #3882F6;
    border-style: none;
    border-radius: 10px;
    padding: 5px 30px;
    font-weight: 800;
    color: white;
}

.himage {
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
}

.inform {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 24px;
}

.infohead {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

.gallery {
    display: flex;
    gap: 48px;
}

.infocards img {
    width: 150px;
    height: 150px;
    border: 3px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 10px;
}

.infotext {
    text-align: center;
    max-width: 150px;
}

.quote {
    background-color: #e5e7eb;
    padding: 48px;
}