@import url('https://fonts.googleapis.com/css2?family=Roboto');


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
}

.hlogo {
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
    justify-content: flex-start;
    align-items: center;
    margin-left: 16px;
}

.hlinks ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    margin-right: 16px;
}

.hlinks li {
    padding: 0;
    margin: 0;
}

.hlinks, .htext2 {
    font-size: 18px;
    color: #e5e7eb;
}

.hlinks {
    display: flex;
    /*font-size: 18px;
    color: #e5e7eb;*/
    margin-left: auto;
    justify-content: space-around;
}

.hero {
    background-color: #1F2937;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding: 24px;
    gap: 24px;
    
}

.htext1 {
    font-size: 48px;
    font-weight: 800; /*extra-bold value*/
    color: #F9FAF8;
}

.himage {
    /*display: flex;
    flex: 1;*/
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
}